.vertical-menu {
    width: 3rem;
    position: absolute;
    top: .3rem;
    right: .3rem;

    &__item {
        height: 3rem;
        font-weight: 600;
        font-size: 1.7rem;
        background-color: white;
        border: 1px outset lightgray ;
        text-align: center;
        vertical-align: top;
        margin-bottom: .5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__entity {
        display: inline-block;
    }
}




