.vertical-menu {
    width: 3rem;
    position: absolute;
    top: .3rem;
    right: .3rem;

    &__item {
        height: 3rem;
        font-weight: 600;
        font-size: 1.7rem;
        background-color: white;
        border: 1px outset lightgray ;
        text-align: center;
        vertical-align: top;
        margin-bottom: .5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__entity {
        display: inline-block;
    }

    &__spinner {
        display: none;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-image: url('../img/Spinner-0.7s-52px.svg');
    }

    &__save {
        font-size: 1rem;
        color: black;
    }
}

.lds-spinner {
    width: 20px;
    height: 20px;
}



